.about_title {
  color: white;
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
}
.about_text {
  color: white;
}
.about_text p{
  font-size: 1.2em;
  line-height: 2;
}
.news {
  display: table;
}
.news-child {
  display: table-cell;
  vertical-align: middle;
}
/* desktop */
@media only screen and (min-width: 600px) {
  .about_text p{
    font-size: 1.5em;
  }
}
