.file-btn {
  color: white;
  margin-bottom: 15px;
}
.hours-div .wiggle {
  color: white;
}
.hours-div .container {
  width: 100%;
}
.hours-div .open-time-div {
  float: left;
  width: 35%;
}
.hours-div .close-time-div {
  float: left;
  width: 35%;
}
.open-input, .close-input {
  text-align: center;
}
.seperate-time .day-label {
  color: white;
  float: left;
  line-height: 250%;
}
.wiggle {
  float: left;
  font-size: 2.5vw;
  width: 20%;
  text-align: center;
}
.input-title {
  font-size: 1.5vw;
  color: white;
}
.checked-title {
  color: #ec971f;
}
.unchecked-title {
  color: grey;
}
.toggle-on {
  left: 50%;
  margin-left: -60px;
}
.common-time, .seperate-time {
  padding-top: 20px;
}
.day-label {
  width: 10%;
  text-align: center;
}
.form-check {
  color: white;
  float: left;
  margin-right: 10px;
}
.common-time-title {
  margin-top: 60px;
  margin-bottom: 0px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ec971f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  .edit_place {
    width: 50%;
  }
  .edit_place .input-group {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .input-title {
    font-size: 4vw;
  }
  .wiggle {
    font-size: 5.3vw;
  }
}
