.index_title {
  text-align: center;
}
.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}
.title-search {
  width: 80%;
  margin: auto;
}
.card {
  margin: 15px;
  .card-img-top {
    width: 100%;
    height: 45%;
  }
}
.page-numbers {
  color: white;
}
.card-grid {
  margin: 50px 0;
}
.search-div {
  margin-top: 20px;
}
/* desktop */
@media only screen and (min-width: 600px) {
  .index_title {
    padding-top: 30px;
    color: white;
  }
  .card {
    width: 300px;
    height: 400px;
    border: none;
    .card-block {
      overflow: auto;
    }
  }
  .row {
    margin-left: 0;
    width: 100%;
  }
}
/* mobile */
@media only screen and (max-width: 600px) {
  .places-index {
    background: #F7F7F9;
    background: #e3e3e3;
  }
  .card {
    .card-footer {
      background-color: white;
    }
  }
  .index_title {
    font-size: 8vw;
  }
  .mobile_hide {
    display: none;
  }
  .search {
    margin-bottom: 10px;
  }
  .navbar-places-index {
    background-color: #89bdd3;
  }
}
