.parent {
  width: 100%;
  text-align: center;
}
.map-text {
  height: 20%;
}
.parent .child .main_text {
  color: white;
  font-size: 8vw;
}
.sub_text{
  color: white;
  font-size: 4.4vw;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .map-text {
    margin: 5% 0;
  }
  .map-parent {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
  }
  .map_map {
    height: 100%;
    width: 100%;
  }
  .twitter_div {
    display: none;
  }
}
/* desktop */
@media only screen and (min-width: 600px) {
  .map-parent {
    height: calc(100vh - #{$nav-height} - #{$footer-height});
    width: 60%;
  }
  .map_map {
    height: calc( calc(100vh - #{$nav-height} - #{$footer-height}) * 0.8);
    float: right;
    width: 100%;
  }
  .map-text {
    height: calc(100vh - #{$nav-height} - #{$footer-height});
  }
  .parent {
    margin-right: 5%;
    width: 35%;
    float: left;
    display: table;
    text-align: center;
  }
  .parent .child .main_text {
    font-size: 2.7em;
  }
  .parent .child .sub_text{
    font-size: 1.7em;
  }
  #current_pos_btn {
    margin-bottom: 20px;
  }
  .mobile_twitter_div {
    display: none;
  }
}

