.show_text,
.show_text p,
.show_text strong{
  color: white;
}
.show_text .show_title {
  font-weight: 400;
}
.show-part {
  margin: 20px 0px;
}
/* desktop */
@media only screen and (min-width: 600px) {
  .show_map {
    width: 100%;
    height: calc( calc(100vh - #{$desktop-nav-height} - #{$footer-height}) * 0.7);
    margin-bottom: 5%;
  }
  .show_text {
    float: left;
    width: 100%;
    margin: 5% 0;
  }
  .show_text .show_title {
      margin-top: 0;
  }
  .show_text .left_float {
    float: left;
    width: 50%;
  }
  .show_text p a {
    word-wrap: break-word;
  }
  .show_photo {
    height: auto;
  }
  .source-text, .show_photo {
    float: right;
    width: 45%;
  }
  .source-text {
    word-wrap: break-word;
  }
  .sign-in-modal .modal-dialog .modal-content {
    left: 50%;
    top: 50%;
  }
}
/* mobile */
@media only screen and (max-width: 600px) {
  .show_map {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
  }
  .show_photo {
    width: 100%;
    height: auto;
    margin-top: 15px;
  }
  .source-text {
    margin-bottom: 15px;
  }
}
