/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
  line-height: 150%;
}
.wf-mplus1p {
  font-weight: 300;
  font-family: "Mplus 1p";
  line-height: 150%;
}
.footer{
  display: none;
}
/////////////navbar/////////////////

.navbar {
  background: white;
  border-radius: 0px;
  border: none;
}
.li_head{
  display: table;
  transition: 0.5s;
  font-weight: 600;
}
.navbar .menu_icon{
  right: 0px;
  height: 10px;
  width: 10px;
  margin-bottom: 3px;
}
//desktop//
@media only screen and (min-width: 600px) {
  .yield_container {
    margin-bottom: 50px;
  }
  .footer{
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #E8E8E8;
    bottom: 0px;
  }
  body {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    background-attachment: fixed;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
  }
}
