/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/////////////background//////////////
* {
  box-sizing: border-box;
  line-height: 150%;
}
body {
  background-color: #636EA0;
}
.wf-mplus1p {
  font-weight: 300;
  font-family: "Mplus 1p";
  line-height: 150%;
}
.footer{
  display: none;
}
/////////////nav_bar/////////////////

//for mobile//
.blank_div{
  height: 80px;
}
.nav_bar {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 10%;
  background-color: white;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav_bar ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
}
.nav_bar .li_head{
  display: table;
  text-align: center;
  font-size: 1.5em;
  transition: 0.5s;
  height: 100%;
  background-color: white;
}
.nav_bar .li_head{
  float: left;
}
.nav_bar .li_sub,
.nav_bar .li_right {
  display: none;
}
.nav_list{
  width: 180px;
  height: 100%;
}
.nav_bar a{
  display: table-cell;
  vertical-align: middle;
}
.nav_bar .li_head a{
  color: #212832;
}
.nav_bar .li_sub a{
  color: #B4B4B4;
}
.nav_bar .li_icon{
  float: right;
  margin-right: 20px;
  height: 100%;
}
.nav_bar .li_icon .menu_icon{
  right: 0px;
  height: 50%;
  margin: 50% 0;
  width: auto;
}
.dropdown {
  width: 35%;
  display: none;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3%;
  position: fixed;
  margin-top: 3%;
  margin-right: 5%;
  right: 0px;
  background: white;
  z-index: 10;
}
.dropdown p{
  margin: 1%;
  display: inline-block;
}
//for desktop//
@media only screen and (min-width: 600px) {
  .footer{
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #E8E8E8;
    bottom: 0px;
    box-shadow: 4px 0 rgba(0.2, 0, 0, 0), 4px rgba(0.19, 0, 0, 0);
  }
  .header_blank_div{
    height: 80px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .footer_blank_div {
    height: 50px;
  }
  .nav_bar {
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 10;
  }
  .nav_bar ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
  }
  .nav_bar .li_head,
  .nav_bar .li_sub,
  .nav_bar .li_right{
    display: table;
    text-align: center;
    font-size: 1.5em;
    transition: 0.5s;
    background-color: white;
  }
  .nav_bar .li_head,
  .nav_bar .li_sub {
    float: left;
  }
  .nav_bar .li_right {
    float: right;
  }
  .nav_list{
    width: 180px;
    height: 80px;
  }
  .nav_bar li:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 0.5s;
  }
  .nav_bar a:hover{
    text-decoration: none;
    background-color: inherit;
  }
  .nav_bar a{
    display: table-cell;
    vertical-align: middle;
  }
  .nav_bar .li_head a{
    color: #212832;
  }
  .nav_bar .li_sub a{
    color: #B4B4B4;
  }
  .nav_bar .li_icon {
    display: none;
  }
}
