.index_title {
  text-align: center;
  color: white;
}
.place_title {
  text-align: center;
}
.unavailable {
  color: grey;
}
.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}
.dropdown {
  float: left;
}
.place_grid .show_btn ,
.place_grid .url_btn {
  bottom: 8px;
  position: absolute;
  float: left;
}
.place_grid .url_btn {
  left: 70px;
}
/* desktop */
@media only screen and (min-width: 600px) {
  .place_grid {
    float: left;
    width: 29%;
    height: 150px;
    margin: 2%;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: grey;
    background: white;
    transition: 0.5s;
    position: relative;
  }
  .title_search {
    width: 250px;
  }
  .page_count {
    color: white;
  }
}
/* mobile */
@media only screen and (max-width: 600px) {
  .place_grid {
    float: left;
    width: 46%;
    height: 160px;
    margin: 2%;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: grey;
    background: white;
    transition: 0.5s;
    position: relative;
  }
  .mobile_hide {
    display: none;
  }
  .search {
    margin-bottom: 10px;
  }
}
