@import "base/variables";
@import "place/top";
@import "place/about";
@import "place/form";
@import "place/index";
@import "place/new";
@import "place/photos";
@import "place/places";
@import "place/show";
@import "devise/sign_up";
@import "place/map";

* {
  box-sizing: border-box;
  line-height: 150%;
}
.wf-mplus1p {
  font-weight: 300;
  font-family: "Mplus 1p";
  line-height: 150%;
}
.footer{
  display: none;
}
.vertical-align-parent {
  display: table;
}
.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}
/////////////navbar/////////////////

.navbar {
  padding: 10px 16px;
  .navbar-toggler { //メニューアイコンの上下位置がおかしいのでハードコーディングで修正
    top: 4px;
  }
  .li_head{
    display: table;
    transition: 0.5s;
    font-weight: 600;
  }
}

//desktop//
@media only screen and (min-width: 600px) {
  .footer{
    display: inline-block;
    position: fixed;
    width: 100%;
    height: $footer-height;
    background-color: #E8E8E8;
    bottom: 0px;
    left: 0px;
  }
  body {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    background-attachment: fixed;
  }
  .yield_container {
    padding-bottom: $footer-height - 4px;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
  }
}
