.map_map, .parent {
  margin-top: 5%;
  margin-bottom: 5%;
}
.map_map {
  bottom: 0px;
  top: 0px;
  width: auto;
}
.parent {
  width: 100%;
  text-align: center;
  height: 20%;
}
.parent .child .main_text {
  color: white;
  font-size: 2em;
}
.parent .child .sub_text{
  color: #212832;
  font-size: 1.5em;
}
/* desktop */
@media only screen and (min-width: 600px) {
  .map_map {
    float: right;
    width: 60%;
  }
  .parent {
    margin-right: 5%;
    width: 35%;
    float: left;
    display: table;
    text-align: center;
  }
  .parent .child{
    vertical-align: middle;
    display: table-cell;
  }
  .parent .child .main_text {
    font-size: 2.7em;
  }
  .parent .child .sub_text{
    font-size: 2em;
  }
  .parent .child li,
  .parent .child .map_news p {
    color: white;
    list-style: none;
  }
  .parent .child .map_news {
    display: inline;
  }
}

