#map {
  float: right;
  /*
  border: solid;
  border-color: #E8E8E8;
  border-width: 20px;*/
}
.parent {
  float: left;
  display: table;
  text-align: center;
}
.parent .child{
  vertical-align: middle;
  display: table-cell;
}
.parent .child .main_text {
  color: white;
  font-size: 2.7em;
}
.parent .child .sub_text{
  color: #212832;
  font-size: 2em;
}
