.map_map, .parent {
  margin-top: 5%;
  margin-bottom: 5%;
}
.map_map {
  bottom: 0px;
  top: 0px;
}
.parent {
  width: 100%;
  text-align: center;
  height: 20%;
}
.parent .child .main_text {
  color: white;
  font-size: 8vw;
}
.sub_text{
  color: white;
  font-size: 4.4vw;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .map_map {
    height: 600px;
    width: auto;
  }
  .twitter_div {
    display: none;
  }
}
/* desktop */
@media only screen and (min-width: 600px) {
  .map_map {
    float: right;
    width: 60%;
  }
  .parent {
    margin-right: 5%;
    width: 35%;
    float: left;
    display: table;
    text-align: center;
  }
  .parent .child{
    vertical-align: middle;
    display: table-cell;
  }
  .parent .child .main_text {
    font-size: 2.7em;
  }
  .parent .child .sub_text{
    font-size: 1.7em;
  }
  #current_pos_btn {
    margin-bottom: 20px;
  }
  .mobile_twitter_div {
    display: none;
  }
}

