.new_map {
  width: 100%;
  position: fixed;
}
.new_title {
  color: white;
}
.new_form p {
  color: white;
}
.new_form .warning {
  color: red;
}
.new_form .new_title {
  font-size: 1.5em;
}
.popover-title {
  text-align: center;
}
.popover.right > .arrow {
  visibility: hidden;
}
@media only screen and (min-width: 600px) {
  .new_map {
    float: right;
    margin: 5% 0;
  }
  .new_form {
    width: 30%;
    margin: 30px;
    float: left;
  }
  .new_form .new_title {
    font-size: 2em;
  }
}
