.show_map {
  float: right;
  width: 60%;
}
.show_text p,
.show_text strong{
  color: white;
}
.show_text .url_div p.url_p {
  width: 300px;
}
.show_text p a {
  word-wrap: break-word;
}
.show_text {
  float: left;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .show_map {
    width: 100%;
  }
}
