<div class='about_text container'>
  <div class='row'>
    <div class='col-xs-2'></div>
    <div class='col-xs-8'>
      <h1 class='wf-mplus1p about_title'>卓球マップについて</h1>
      <br>
      <p class='wf-mplus1p'>当サイトは、全国の卓球愛好者のために作られた練習場所検索サービスです。</p>
      <p class='wf-mplus1p'>練習場所が見つからない、練習場所を増やしたいといった課題を克服するために作られたものです。</p>
      <p class='wf-mplus1p'>ご意見、ご要望がある方は下記の連絡先までお問い合わせください。</p>
      <br>
      <p class='wf-mplus1p' style='text-align:center; font-size: 2.5em;'>takkyuumap@gmail.com</p>
      <br>
    </div>
    <div class='col-xs-2'></div>
  </div>
  <div class='row'>
    <div class='col-xs-4'></div>
    <div class='col-xs-4 news'>
      <div class='news-child'>
        <div class='text-center'>~新着情報~</div>
        <ul>
          <li>07/01  営業時間登録機能を追加</li>
          <li>06/01  一覧ページに文字列検索機能追加</li>
          <li>05/26  一覧ページに都道府県絞り込み機能追加</li>
          <li>05/24 「現在地から検索」機能追加</li>
        </ul>
      </div>
    </div>
    <div class='col-xs-4'></div>
  </div>
  <br>
</div>
