<h1 style='font-weight: 400;' class='wf-mplus1p about_title'>卓球マップについて</h1>

<div class='about_text'>
  <p>当サイトは、全国の卓球愛好者のために作られた練習場所検索サービスです。</p>
  <p>練習場所が見つからない、練習場所を増やしたいといった課題を克服するために作られたものです。</p>
  <p>ご意見、ご要望がある方は下記の連絡先までお問い合わせください。</p>
  <br>
  <p>管理人メール連絡先</p>
  <p>takkyuumap@gmail.com</p>
  <br>
  <span>~新着情報~</span>
  <ul>
    <li>06/01  一覧ページに文字列検索機能追加</li>
    <li>05/26  一覧ページに都道府県絞り込み機能追加</li>
    <li>05/24 「現在地から検索」機能追加</li>
    <li>05/17 登録卓球場数４５０件突破！</li>
  </ul>
</div>
