<head>
  <% stylesheet_link_tag "map" %>
  <% javascript_include_tag "map.coffee" %>
</head>

<div class="parent">
  <div class="child">
    <p class="wf-mplus1p main_text">もう、練習場所に<br>困らない</p>
    <p class="wf-mplus1p sub_text">全国の卓球場情報を集約</p>
  </div>
</div>

<div id="map" style="width:400px; height:400px"></div>

<script type="text/javascript">

	var map;

  var places = <%=raw @places.to_json %>;

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
      center: {lat:35.690503, lng:139.700419} ,
			zoom: 12
		});

    //現在地マーカー作成
		var infowindow = new google.maps.InfoWindow();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var marker = new google.maps.Marker({
          icon: '/assets/current_position.png',
          position: pos,
          map: map
        });
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }

    for (i = 0; i < places.length; i++) {
      var marker = new google.maps.Marker({
        position: {lat: eval(places[i].latitude), lng: eval(places[i].longitude)},
        map: map,
        title: places[i].title,
				animation: google.maps.Animation.DROP
      });
			google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<div id="content">' + places[i].title + '<br>' + '<a href = ' + '/places/' + places[i].id + '>詳細</a>' + '</div>');
          infowindow.open(map, marker);
        }
      })(marker, i));
		}
  }

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1UBETjFq1eApVpLAX-JdAz3tsHf7Bpsc&callback=initMap">
</script>
